html {
  font-size: 16px;
}
html body {
  margin: 0;
}
.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/banner.jpg');
  height: 600px;
  color: white;
}
.banner header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner header .header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
.banner header .header-right a {
  text-decoration: none;
  color: white;
}
.banner .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.banner .cta h1 {
  text-transform: capitalize;
  font-size: 3rem;
}
.banner button {
  cursor: pointer;
}
.button {
  cursor: pointer;
}
