html {
  font-size: 16px;
}
html body {
  margin: 0;
}
.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../images/banner.jpg');
  height: 700px;
  color: white;
}
.banner header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner header h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: 600;
  font-size: 2rem;
}
.banner header div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
.banner header div a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans';
  font-weight: sans-serif;
  font-size: 1rem;
}
.banner .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.banner .cta h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: 1.5;
}
.banner .cta .signup {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: transparent;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5bc0be;
  border: 2px solid #5bc0be;
}
.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.how-it-works h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.how-it-works div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.how-it-works div section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin: 20px;
  padding: 20px;
}
.how-it-works div section h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}
.how-it-works div section p {
  font-family: 'Open Sans';
  font-weight: sans-serif;
  font-size: 1rem;
}
.how-it-works div section img {
  height: 150px;
  width: 150px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  border-top: 1px solid black;
}
footer h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}
footer p {
  font-family: 'Open Sans';
  font-weight: sans-serif;
  font-size: 1rem;
}
