.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../images/banner.jpg');
  height: 700px;
  color: @primary;

  header {
    .flex(row, space-between);

    #logo {
      .font('Yellowtail', cursive; 600; 2rem);
      .anchor();
      margin-left: 20px;
    }

    .header-right {
      .flex(row, space-evenly);
      width: 20%;

      a {
        .anchor(@primary);
        .font('Open Sans', sans-serif);
        &:hover {
          padding-bottom: 10px;
          border-bottom: 1px solid @accent;
        }
      }

      .login {
        .font('Open Sans', sans-serif; 900; 0.8rem);
        .button(100px, 40px, 1px, transparent);
      }
    }
  }

  .cta {
    .flex(column, center);
    height: 70%;

    h1 {
      .font('Roboto', sans-serif; 900; 3.5rem);
      letter-spacing: 1.5;
      text-align: center;
    }

    .signup {
      .font('Open Sans', sans-serif; 700);
      .button(200px, 50px, 2px, @accent);
    }
  }
}
