footer {
  .flex(column, space-evenly);
  height: 400px;
  color: @primary;
  background-color: @bg-color;

  .footer-cards {
    .flex(row, space-evenly);
    @media @tablet {
      min-width: 90%;
    }
    min-width: 70%;
    height: 70%;
  }

  h1 {
    .font('Roboto', sans-serif; 600; 1.25rem);
    letter-spacing: 1px;
  }

  p {
    .font('Open Sans', sans-serif; 100; 0.9rem);
    color: @secondary;
  }
}
