html {
  font-size: 16px;

  body {
    margin: 0;
  }
}

// Banner & CTA
.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../images/banner.jpg');
  height: 700px;
  color: white;

  header {
    .flex(row, space-between);

    #logo {
      .font('Yellowtail', cursive; 600; 2rem);
      margin-left: 20px;
    }

    div {
      .flex(row, space-evenly);
      width: 20%;

      a {
        .anchor(white);
        .font('Open Sans', sans-serif);
        &:hover {
          padding-bottom: 10px;
          border-bottom: 1px solid @accent;
        }
      }

      .login {
        .font('Open Sans', sans-serif; 500; 0.8rem);
        .button(100px, 40px, 1px);
        &:hover {
          background-color: @accent;
          color: @primary;
          border: 1px solid @accent;
        }
      }
    }
  }

  .cta {
    .flex(column, center);
    height: 70%;

    h1 {
      .font('Roboto', sans-serif; 900; 3.5rem);
      letter-spacing: 1.5;
    }

    .signup {
      .font('Open Sans', sans-serif; 900);
      .button(200px, 50px, 2px);
      background-color: transparent;
      z-index: 2;
      border: 3px solid @accent;
      &:hover {
        background-color: @accent;
        color: @primary;
      }
    }
  }
}

// How It Works
.how-it-works {
  .flex(column, center);
  height: 700px;

  h1 {
    .font('Roboto', sans-serif; 900; 2rem);
  }

  .how-cards {
    .flex(row, center);

    section {
      .flex(column, space-between);
      border: 1px solid @secondary;
      border-radius: 30px;
      height: 300px;
      width: 300px;
      margin: 20px;
      padding: 20px;

      h1 {
        .font('Roboto', sans-serif; 500; 1.25rem);
      }

      p {
        .font('Open Sans', sans-serif);
      }

      img {
        height: 150px;
        width: 150px;
      }
    }
  }
}

// Footer
footer {
  .flex(column, space-evenly);
  height: 400px;
  color: @primary;
  background-color: @bg-color;

  .footer-cards {
    .flex(row, space-evenly);
    width: 70%;
    height: 70%;
  }

  h1 {
    .font('Roboto', sans-serif; 600; 1.25rem);
    letter-spacing: 1px;
  }

  p {
    .font('Open Sans', sans-serif; 100; 0.9rem);
    color: @secondary;
  }
}

// Mixins
.font(@family: 'Open Sans', sans-serif; @weight: 400; @size: 1rem) {
  font-family: @family;
  font-weight: @weight;
  font-size: @size;
}

.flex(@dir, @justify, @align: center) {
  display: flex;
  flex-direction: @dir;
  justify-content: @justify;
  align-items: @align;
}

.button(@width, @height, @spacing, @radius: 30px, @color: @accent) {
  cursor: pointer;
  width: @width;
  height: @height;
  border-radius: @radius;
  text-transform: uppercase;
  color: @color;
  letter-spacing: @spacing;
  transition: background-color 0.2s ease-in;
  &:focus {
    outline: 0;
  }
}

.anchor(@color: @primary) {
  text-decoration: none;
  color: @color;
}

// Variables
@mobile: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';

@primary: white;
@secondary: lightgrey;
@bg-color: #2e4053;
@accent: #5bc0be;

// @darkblue: #1B3B6F;
// @lightblue: #3A7CA5;
// @lightgrey: #D9DCD6;
// @white: #FFFFFF;
// @accentblue: #C7D7E0;
// @accent2: #5BC0BE;
