.font(@family: 'Open Sans', sans-serif; @weight: 400; @size: 1rem) {
  font-family: @family;
  font-weight: @weight;
  font-size: @size;
}

.flex(@dir, @justify, @align: center) {
  display: flex;
  flex-direction: @dir;
  justify-content: @justify;
  align-items: @align;
}

.button(@width, @height, @spacing, @bg-color) {
  width: @width;
  height: @height;
  letter-spacing: @spacing;
  border-radius: 30px;
  border: 3px solid @accent;
  color: @primary;
  text-transform: uppercase;
  cursor: pointer;
  background-color: @bg-color;
  transition: background-color 0.2s ease-in;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: rgba(91, 192, 190, 0.3);
  }
}

.anchor(@color: @primary) {
  text-decoration: none;
  color: @color;
  :any-link {
    color: @color;
    text-decoration: none;
  }
}
