.team-header {
  .flex(row, space-between);
  background-color: @bg-primary;
  padding: 0 20px;

  #logo {
    .font('Yellowtail', cursive; 600; 2.75rem);
    .anchor();
  }

  .login {
    .font('Open Sans', sans-serif; 900; 0.8rem);
    .button(100px, 40px, 1px, transparent);
  }
 
}

.our-team {
  .flex(column, center);
  height: 700px;
  @media @desktop {
    height: auto;
  }

  h1 {
    .font('Roboto', sans-serif; 900; 2rem);
  }

  .team-cards {
    .flex(row, space-around);
    @media @desktop {
      flex-wrap: wrap;
    }

    section {
      .flex(column, center);
      height: 350px;
      width: 350px;
      margin: 20px;
      padding: 20px;

      h1 {
        .font('Roboto', sans-serif; 500; 1.25rem);
        text-align: center;
      }

      h2 {
        .font('Roboto', sans-serif; 500; 1.5rem);
        text-align: center;
      }

      p {
        .font('Open Sans', sans-serif);
        text-align: center;
      }

      a {
        .anchor();
        .font('Open Sans', sans-serif; 100; 1.5rem);
        color: @secondary;
        &:hover {
          color: @primary;
        }
      }

      img {
        height: 300px;
        width: 300px;
        object-fit: cover;
      }
    }
  }
}
